fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
jinja2
xhtml2pdf
openpyxl
langchain-google-genai
python-multipart
requests
langchain_community
regex
bcrypt
python-jose[cryptography]
langchain
docx2txt
